body {
  font-family: "游ゴシック Light", sans-serif;
    margin: 50px;
    background-color: rgb(6, 76, 99);
    color: rgb(220, 229, 237);
}

input {
  height: 30px;
  width: 50px;
  margin: 5px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
}

button {
  height: 30px;
  width: 50px;
  margin: 10px;
  border-radius: 5px;
  background-color: aqua;
}

.span {
  height: 20px;
  width: 40px;
  margin: 5px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: rgb(7, 157, 142);;
  border: 1px solid rgb(0, 184, 209);
}

.head {
  font-size: 1.2rem;
  font-weight: lighter;
}